<!DOCTYPE html>
<html>

<head>
    <title>SAFAL KISAN | Checkout </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/css/payment_style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/cart.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <!-- start menu -->
    <link href="/static/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/static/js/memenu.js"></script>
    <script>
        $(document).ready(function() {
            $(".memenu").memenu();
        });
    </script>
</head>

<body data-ng-app="myApp" data-ng-controller="CartController">
    <!--header-->
    <% include "partials/header.html" %>
        <!-- grow -->
        <div class="grow"> </div>
        <!-- grow -->
        <div class="container">
            <div class="check">
                <h1>Total Product List</h1>
                <div class="col-md-9 cart-items">
                    <div class="cart-header" data-ng-repeat="item in getItems() track by $index">
                        <div class="close1" data-ng-click="removeItem(item.id, $index)"> </div>
                        <div class="cart-sec simpleCart_shelfItem">
                            <div class="cart-item cyc">
                                <img src="{{item.image_url}}" class="img-responsive" alt="" />
                            </div>
                            <div class="cart-item-info">
                                <h3>{{item.title}}</h3>
                                <ul class="qty">
                                    <li>
                                        <p>Qty : {{item.quantity}}</p>
                                    </li>
                                </ul>

                                <div class="delivery">
                                    <p>Price : Rs. {{item.price}}</p>
                                    <span>Delivered in 4-5 days</span>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 cart-total">
                    <a class="continue" href="#">Continue Shopping</a>
                    <div class="price-details">
                        <h3>Price Details</h3>
                        <span>Total</span>
                        <span class="total1">{{totalPrice}}</span>
                        <span>Delivery Charges</span>
                        <span class="total1">150.00</span>
                        <div class="clearfix"></div>
                    </div>
                    <ul class="total_price">
                        <li class="last_price">
                            <h4>TOTAL</h4>
                        </li>
                        <li class="last_price"><span>{{totalPrice + 150}}</span></li>
                        <div class="clearfix"> </div>
                    </ul>


                    <div class="clearfix"></div>

                    <a class="order"

                     <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Checkout</button>

<div id="id01" class="modal">
  
  <form class="modal-content animate" action="/checkout.html">
   
    <div class="container">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      
    </div>

    <div class="container-ok">

      <label class="lable" for="uname"><b>Full name</b></label>
      <input  type="text" placeholder="Enter Username" name="uname" required>

      <label for="cn"><b>Contact No.</b></label>
      <input type="text" placeholder="Enter Contact No." name="ucontact" required>

        <label for="cadd"><b>Address</b></label>
      <input type="text" placeholder="Enter Address" name="uaddress" required>

      <label for="cst"><b>State</b></label>
      <input type="text" placeholder="Enter Your State" name="ustate" required>

      <label for="cco"><b>Country</b></label>
      <input type="text" placeholder="Enter Your Country" name="ucountry" required>
        
      <button type="submit">Submit</button>
      
    </div>
  </form>
</div>
    
    </a>
             
            <div class="clearfix"> </div>
             </div>
         </div>

     </div>


       <script>


// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


        <!--//content-->
        <!--footer-->
        <% include "partials/footer.html" %>
</body>

</html>