<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <!-- //search-scripts -->
                <div class="ca-r">
                    <div class="cart box_1">
                        <h3>
                            <div class="total">
                            </div>
                            <p>CART
                                 <span data-ng-model="count">{{count}}</span>
							<a href="/checkout"><img src="/static/images/cart.png" alt=""/></a></h3>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="head-top">
            <div class="logo">
                <!-- <h1><a href="index.html">SAFAL KISAN</a></h1> -->
                <img src="<$ entry.logo.fields.file.url $>" style="width: 124px;">
            </div>
            <% include "partials/menu.html" %>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>